@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');
$title-font: 'Oswald', sans-serif;
$content-font: 'Montserrat', sans-serif;

$main-color: #f19066;